<div class="flexslider">
  <ul class="slides">
    <li>
      <img
        src="{{ 'first.jpg' | asset_url }}"
        alt="Banner 1"
        loading="lazy"
        width="full"
        height="full">

    </li>
    <li>
      <img
        src="{{ 'banner-2.jpg' | asset_url }}"
        alt="Banner 2"
        loading="lazy"
        width="full"
        height="full">
    </li>
    <li>
      <img
        src="{{ 'banner-3.jpg' | asset_url }}"
        alt="Banner 3"
        loading="lazy"
        width="full"
        height="full">
    </li>
    <li>
      <img
        src="{{ 'banner-1.webp' | asset_url }}"
        alt="Banner 1"
        loading="lazy"
        width="full"
        height="full">

    </li>
    <li>
      <img
        src="{{ 'banner-2.jpg' | asset_url }}"
        alt="Banner 2"
        loading="lazy"
        width="full"
        height="full">
    </li>
    <li>
      <img
        src="{{ 'last.jpg' | asset_url }}"
        alt="Banner 3"
        loading="lazy"
        width="full"
        height="full">
    </li>
  </ul>
</div>



{% schema %}
  {
    "name": "HeroBenner"

  }
{% endschema %}