<div class="flexslider  ">
  <ul class="slides">
    <li>
      <img
        src="{{ 'first.jpg' | asset_url }}"
        alt="Banner 1"
        loading="lazy"
        width="full"
        height="full">

    </li>
    <li>
      <img
        src="{{ 'banner-2.jpg' | asset_url }}"
        alt="Banner 2"
        loading="lazy"
        width="full"
        height="full">
    </li>
    <li>
      <img
        src="{{ 'banner-3.jpg' | asset_url }}"
        alt="Banner 3"
        loading="lazy"
        width="full"
        height="full">
    </li>
    <li>
      <img
        src="{{ 'banner-1.webp' | asset_url }}"
        alt="Banner 1"
        loading="lazy"
        width="full"
        height="full">

    </li>
    <li>
      <img
        src="{{ 'banner-2.jpg' | asset_url }}"
        alt="Banner 2"
        loading="lazy"
        width="full"
        height="full">
    </li>
    <li>
      <img
        src="{{ 'last.jpg' | asset_url }}"
        alt="Banner 3"
        loading="lazy"
        width="full"
        height="full">
    </li>
  </ul>
</div>


<img
  src="{{ section.settings.slide_1 | image_url }}"
  width="full"
  height="full"
  loading="lazy">



{% schema %}
  {
    "name": "HeroBenner",
    "settings": [
      {
        "type": "image_picker",
        "id": "slide_1",
        "label": "slide show image 1"

      }, {
        "type": "image_picker",
        "id": "slide_2",
        "label": "slide show image 1"

      }, {
        "type": "image_picker",
        "id": "slide_3",
        "label": "slide show image 1"

      }
    ]


  }
{% endschema %}