<article>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}

      <div class="flex justify-center items-center">
        <div class="max-w-7xl">
          <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.url }}</a>
          <h1 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h1>
        </div>
      </div>
      <h1>{{ article.title }}</h1>

      {% when 'enable_authoor' %}
      {% if section.settings.authoor_name %}
        <small>{{ article.author }}</small>
      {% endif %}
      {% when 'published_date' %}
      {% if section.settings.published_date %}
        <time datetime="{{ article.published_at | date: '%y-%m-%d' }}">{{ article.published_at | date: '%y-%m-%d' }}</time>
      {% endif %}
      {% when 'featured_image' %}
      <img
        src="{{ article.image | image_url }}"
        loading="lazy"
        width="full"
        height="full">
      {% when 'article_content' %}
      <p>{{ article.content }}</p>
  {% else %}
    {% endcase %}
  {% endfor %}
</article>



{% schema %}
  {
    "name": "template Artices",
    "tag": "section",
    "class": "article_sec",
    "settings": [
      {
        "type": "checkbox",
        "id": "authoor_name",
        "label": "Author Name",
        "default": true

      }, {

        "type": "checkbox",
        "id": "published_date",
        "label": "Published Date",
        "default": true

      }
    ],
    "blocks": [
      {
        "name": "article title",
        "type": "article_title",
        "limit": 1
      },
      {
        "type": "enable_authoor",
        "name": "Author Name",
        "limit": 1

      },
      {
        "type": "published_date",
        "name": "pulished Date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "thumbnail",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "content",
        "limit": 1
      }
    ]
  }
{% endschema %}