<div class="text-center  container mx-auto">



  {% for block in section.blocks %}


    {% case block.type %}
      {% when 'article_title' %}
      <h1>{{ article.title }}</h1>
      {% when 'article_author' %}
      {% if section.settings.authoor_name %}
        <small>{{ article.author }}</small>
      {% endif %}


  {% else %}

    {% endcase %}



  {% endfor %}



  <h1>{{ article.title }}</h1>
  {% if section.settings.authoor_name %}
    <small>{{ article.author }}</small>
  {% endif %}


  {% if section.settings.published_date %}
    <time datetime="{{ article.published_at | date: '%y-%m-%d' }}">{{ article.published_at | date: '%y-%m-%d' }}</time>
  {% endif %}



  <img
    src="{{ article.image | image_url }}"
    loading="lazy"
    width="full"
    height="full">


  <p>{{ article.content }}</p>

</div>


{% schema %}
  {
    "name": "template Artices",
    "tag": "section",
    "class": "article_sec",
    "settings": [
      {
        "type": "checkbox",
        "id": "authoor_name",
        "label": "Author Name",
        "default": true

      }, {

        "type": "checkbox",
        "id": "published_date",
        "label": "Published Date",
        "default": true

      }
    ],
    "blocks": [
      {
        "name": "article title",
        "type": "article_title",
        "limit": 1
      },
      {
        "type": "enable_authoor",
        "name": "Author Name",
        "limit": 1

      },
      {
        "type": "published_date",
        "name": "pulished Date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "thumbnail",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "content",
        "limit": 1
      }
    ]
  }
{% endschema %}